@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <form id="BookProperties_add" >
        <input id="BookProperties_add_name" type="text" name="Name"/>
            </form>
    </div>
</body>
</html>
