@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
   <div>
        <input type="hidden" id="majors_add_depart" value="@ViewBag.DepartmentID" />
        @*<div class="input_line"><label class="leftlabel">所属部门：</label><input id="majors_add_depart" /></div>*@
        <div class="input_line"><label class="leftlabel">专业名称：</label><input class="easyui-textbox" id="majors_add_major" data-options="prompt:'请输入专业名称'"></div>
        
    </div>
    <script>
        $(function () {
            $("#majors_add_depart").combobox({
                url: "/getDepartments/getteach",
                valueField: 'ID',
                textField: "Name"
            });
        });
    </script>
</body>
</html>
