@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
     学期： <input id="terms_add_name" class="ersyui-textbox">
    </div>
</body>
</html>
