@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
      类型：<input id="type_add_name" class="easyui-textbox" style="width:150px;height:20px"><br>
      类型类别：<input id="type_add_typeid" class="easyui-textbox"style="width:150px;height:20px">
    </div>
</body>
</html>
